#welcome
  The quick brown fox jumped over the lazy dog.
  
  %p A canvas background that is interactive and resizes!
  
  %p Probably something done easily in flash and much less resource intensive. The canvas element has a long way to go!


